<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>RIGHT GUESS!! 🙌🏻</title>
    <style>
      .green-text {
        color: green;
        font-weight: bold;
      }
      body {
      text-align: center;
    }

    </style>
</head>
<body>
<h1 class="green-text">You guessed it right. You are Awesome😎</h1>
<img src=https://media.giphy.com/media/4T7e4DmcrP9du/giphy.gif>
<form action="/newgame"  method="POST">
    <input type="submit" value="Play Another Game" id="newgame">
</form>
<form action="/exit" method="POST">
    <input type="submit" value="Exit" id="exit">
</form>
</body>
</html>