<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>TOO LOW👇🏻</title>
    <style>
      .red-text {
        color: red;
        font-weight: bold;
      }
      body {
      text-align: center;
    }

    </style>
</head>
<body>
<h1 class="red-text">OH!! Your number is too low. Try Again</h1>
<img src=https://media.giphy.com/media/jD4DwBtqPXRXa/giphy.gif>
<form action="/">
    <input type="submit" value="Retry" id="retry">
</form>
<form action="/exit" method="POST">
    <input type="button" value="Exit" id="exit">
</form>
</body>
</html>