<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>TOO HIGH👆🏻</title>
    <style>
      .red-text {
        color: blue;
        font-weight: bold;
      }
      body {
      text-align: center;
    }

    </style>
</head>
<body>
<h1 class="red-text">Oops!! Your number is too high. Go lower!!</h1>
<img src=https://media.giphy.com/media/3o6ZtaO9BZHcOjmErm/giphy.gif>
<form action="/">
    <input type="submit" value="Retry" id="retry">
</form>
<form>
    <input type="button" value="Exit" id="exit">
</form>
<!--<script>
      function readInput() {
        var input = document.getElementById("input").value;
        alert("You entered: " + input);
      }
</script>-->
</body>
</html>